html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	background-image: url('https://cdn1-production-images-kly.akamaized.net/WdRhPm_pWz1RxFaf5V9DqLJch2k=/1200x675/smart/filters:quality(75):strip_icc():format(webp)/kly-media-production/medias/3453539/original/020982400_1620626296-eid-5304089_1280_Fotor.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	font-family: 'Inconsolata';
	display: flex;
	justify-content: center;
  align-items: center;
}

.board {
	background-color: #00000089;
	color: #ffffff;
	padding: 20px;
  width: 60%;
  margin: 1rem;
}

@media only screen and (max-width: 60em) { /* 60em = 960px (60 x 16px)*/
	.board {
		width: 98%;
	}
}
#terminal {
	white-space: pre-wrap;
}

#b {
	display: none;
}
